<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzone.surveymanagement.survey.mapper.QuerySurveyMapper">
    <resultMap id="surveyDetailsResultMap" type="com.douzone.surveymanagement.survey.dto.response.SurveyDetailsDto">
        <id property="surveyNo" column="survey_no"/>
        <result property="surveyTitle" column="survey_title"/>
        <result property="surveyImage" column="survey_image"/>
        <result property="surveyDescription" column="survey_description"/>
        <result property="surveyClosingAt" column="survey_closing_at"></result>
        <result property="openStatusNo" column="open_status_no"/>
        <result property="surveyStatusNo" column="survey_status_no"></result>
        <result property="tagNames" column="tag_names"/>
        <collection property="questionDetailsDtoList" javaType="list" resultMap="questionDetailsResultMap"></collection>
    </resultMap>

    <resultMap id="questionDetailsResultMap"
               type="com.douzone.surveymanagement.surveyquestion.dto.response.QuestionDetailsDto">
        <id property="surveyQuestionNo" column="survey_question_no"/>
        <result property="surveyNo" column="survey_no"></result>
        <result property="surveyQuestionTitle" column="survey_question_title"/>
        <result property="surveyQuestionDescription" column="survey_question_description"/>
        <result property="questionTypeNo" column="question_type_no"/>
        <result property="isRequired" column="is_required"/>
        <collection property="selectionDetailsDtoList" javaType="list"
                    resultMap="selectionDetailsResultMap"></collection>
    </resultMap>

    <resultMap id="selectionDetailsResultMap"
               type="com.douzone.surveymanagement.selection.dto.response.SelectionDetailsDto">
        <id property="selectionNo" column="selection_no"/>
        <result property="surveyQuestionNo" column="survey_question_no"></result>
        <result property="surveyQuestionMoveNo" column="survey_question_move_no"/>
        <result property="selectionValue" column="selection_value"/>
        <result property="isMovable" column="is_movable"/>
        <result property="isEndOfSurvey" column="is_end_of_survey"/>
    </resultMap>


    <resultMap id="surveyDetailInfoDto" type="com.douzone.surveymanagement.survey.dto.response.SurveyDetailInfoDto">
        <result property="surveyNo" column="survey_no"/>
        <result property="surveyTitle" column="survey_title"/>
        <result property="surveyDescription" column="survey_description"/>
        <result property="surveyImage" column="survey_image"/>
        <result property="surveyPostAt" column="survey_post_at"/>
        <result property="surveyClosingAt" column="survey_closing_at"/>
        <result property="userNickName" column="user_nickname"/>
        <result property="userNo" column="user_no"/>
        <result property="userImage" column="user_image"/>
        <result property="surveyStatusName" column="survey_status_name"/>
        <result property="openStatusName" column="open_status_name"/>
        <result property="surveyAttendCount" column="attend_count"/>
        <result property="isDeleted" column="is_deleted"/>
        <collection property="tagName" javaType="list" resultMap="tagDto"></collection>
        <collection property="attendUserList" javaType="list" resultMap="AttendUserDto"></collection>
        <collection property="attendCheckList" javaType="list" resultMap="AttendCheckDto"></collection>
    </resultMap>
    <resultMap id="tagDto" type="string">
        <result property="tagName" column="tag_name"/>
    </resultMap>

    <resultMap id="AttendUserDto" type="long">
        <result property="attendUserNo" column="attend_user_no"/>
    </resultMap>
    <resultMap id="AttendCheckDto" type="boolean">
        <result property="attendCheck" column="attend_check"/>
    </resultMap>

    <select id="selectSurveyDetailsBySurveyNo" resultMap="surveyDetailsResultMap">
        SELECT s.survey_no,
               s.survey_title,
               s.survey_image,
               s.survey_description,
               s.survey_closing_at,
               s.open_status_no,
               s.survey_status_no,
               GROUP_CONCAT(t.tag_name) AS tag_names,
               sq.survey_question_no,
               sq.survey_question_title,
               sq.survey_question_description,
               sq.question_type_no,
               sq.is_required,
               se.selection_no,
               se.survey_question_move_no,
               se.selection_value,
               se.is_movable,
               se.is_end_of_survey
        FROM survey s
                 JOIN survey_question sq
                      ON s.survey_no = sq.survey_no
                 LEFT JOIN question_type qt
                           ON sq.question_type_no = qt.question_type_no
                 LEFT JOIN (SELECT selection_no,
                                   survey_question_no,
                                   survey_question_move_no,
                                   selection_value,
                                   is_movable,
                                   is_end_of_survey
                            FROM selection) se
                           ON sq.survey_question_no = se.survey_question_no
                 LEFT JOIN survey_tag AS st
                           ON s.survey_no = st.survey_no
                 LEFT JOIN tag AS t
                           ON st.tag_no = t.tag_no
        WHERE s.survey_no = #{surveyNo}
          AND s.survey_status_no = 1
        GROUP BY s.survey_no, sq.survey_question_no, se.selection_no;
    </select>

    <select id="selectSurveyImageBySurveyNo" parameterType="long" resultType="string">
        SELECT survey_image
        FROM survey
        WHERE survey_no = #{surveyNo}
    </select>

    <select id="selectSurveyCreatedByUser" resultType="boolean" parameterType="long">
        SELECT COUNT(*)
        FROM survey
        WHERE survey_no = #{surveyNo}
          AND user_no = #{userNo}
    </select>

    <select id="selectRecentSurvey" resultMap="surveyDetailInfoDto" parameterType="long">
        SELECT *,
               survey_attend.user_no                              as attend_user_no,
               if(survey_attend.user_no = #{userNo}, false, true) as attend_check
        FROM (SELECT survey.survey_no,
                     survey_title,
                     survey_description,
                     survey_image,
                     survey_post_at,
                     survey_closing_at,
                     user.user_no,
                     user.user_nickname,
                     user.user_image,
                     survey_status.survey_status_name,
                     os.open_status_name,
                     count(survey_attend.survey_no) AS attend_count,
                     is_deleted
              FROM survey
                       LEFT JOIN survey_status ON survey.survey_status_no = survey_status.survey_status_no
                       LEFT JOIN user ON user.user_no = survey.user_no
                       LEFT JOIN open_status os ON survey.open_status_no = os.open_status_no
                       LEFT JOIN survey_attend ON survey.survey_no = survey_attend.survey_no
              WHERE is_deleted = 0
                AND survey_status.survey_status_no = 2

              GROUP BY survey_status.survey_status_no, user.user_no, survey.survey_closing_at,
                       os.open_status_no, survey.survey_no, survey_attend.survey_no
              ORDER BY survey_post_at DESC limit 10) a
                 LEFT JOIN survey_attend ON a.survey_no = survey_attend.survey_no
                 LEFT JOIN survey_tag ON a.survey_no = survey_tag.survey_no
                 LEFT JOIN tag ON survey_tag.tag_no = tag.tag_no
        GROUP BY survey_tag.survey_tag_no, a.survey_no, survey_attend.user_no,
                 survey_attend.survey_attend_no;
    </select>

    <select id="closingSurvey" resultMap="surveyDetailInfoDto" parameterType="long">
        SELECT *,
               survey_attend.user_no                              as attend_user_no,
               if(survey_attend.user_no = #{userNo}, false, true) as attend_check
        FROM (SELECT survey.survey_no,
                     survey_title,
                     survey_description,
                     survey_image,
                     survey_post_at,
                     survey_closing_at,
                     user.user_no,
                     user.user_nickname,
                     user.user_image,
                     survey_status.survey_status_name,
                     os.open_status_name,
                     count(survey_attend.survey_no) AS attend_count,
                     is_deleted
              FROM survey
                       LEFT JOIN survey_status ON survey.survey_status_no = survey_status.survey_status_no
                       LEFT JOIN user ON user.user_no = survey.user_no
                       LEFT JOIN open_status os ON survey.open_status_no = os.open_status_no
                       LEFT JOIN survey_attend ON survey.survey_no = survey_attend.survey_no
              WHERE is_deleted = 0
                AND survey_status.survey_status_no = 3

              GROUP BY survey_status.survey_status_no, user.user_no, survey.survey_closing_at,
                       os.open_status_no, survey.survey_no, survey_attend.survey_no
              ORDER BY survey_closing_at DESC LIMIT 10) a
                 LEFT JOIN survey_attend ON a.survey_no = survey_attend.survey_no
                 LEFT JOIN survey_tag ON a.survey_no = survey_tag.survey_no
                 LEFT JOIN tag ON survey_tag.tag_no = tag.tag_no
        GROUP BY survey_tag.survey_tag_no, a.survey_no, survey_attend.user_no,
                 survey_attend.survey_attend_no;
    </select>

    <select id="selectAllSurvey" resultMap="surveyDetailInfoDto" parameterType="HashMap">
        SELECT *,
               survey_attend.user_no                              as attend_user_no,
               if(survey_attend.user_no = #{userNo}, false, true) as attend_check
        FROM (SELECT survey.survey_no,
                     survey_title,
                     survey_description,
                     survey_image,
                     survey_post_at,
                     survey_closing_at,
                     user.user_no,
                     user.user_nickname,
                     user.user_image,
                     survey_status.survey_status_name,
                     os.open_status_name,
                     count(survey_attend.survey_no) AS attend_count,
                     is_deleted

              FROM survey
                       LEFT JOIN survey_status ON survey.survey_status_no = survey_status.survey_status_no
                       LEFT JOIN user ON user.user_no = survey.user_no
                       LEFT JOIN open_status os ON survey.open_status_no = os.open_status_no
                       LEFT JOIN survey_attend ON survey.survey_no = survey_attend.survey_no
              WHERE is_deleted = 0
                AND survey.survey_status_no != 1

              GROUP BY survey_status.survey_status_no, user.user_no, survey.survey_closing_at,
                  os.open_status_no, survey.survey_no, survey_attend.survey_no
              ORDER BY survey_post_at DESC
                  LIMIT 12
              OFFSET #{page}) a
                 LEFT JOIN survey_attend ON a.survey_no = survey_attend.survey_no
                 LEFT JOIN survey_tag ON a.survey_no = survey_tag.survey_no
                 LEFT JOIN tag ON survey_tag.tag_no = tag.tag_no
        GROUP BY survey_tag.survey_tag_no, a.survey_no, survey_attend.user_no,
                 survey_attend.survey_attend_no;

    </select>

    <select id="selectWeeklySurvey" resultMap="surveyDetailInfoDto" parameterType="long">
        SELECT *,
               survey_attend.user_no                              as attend_user_no,
               if(survey_attend.user_no = #{userNo}, false, true) as attend_check
        FROM (SELECT survey.survey_no,
                     survey_title,
                     survey_description,
                     survey_image,
                     survey_post_at,
                     survey_closing_at,
                     user.user_no,
                     user.user_nickname,
                     user.user_image,
                     survey_status.survey_status_name,
                     os.open_status_name,
                     count(survey_attend.survey_no) AS attend_count,
                     is_deleted
              FROM survey
                       LEFT JOIN survey_status ON survey.survey_status_no = survey_status.survey_status_no
                       LEFT JOIN user ON user.user_no = survey.user_no
                       LEFT JOIN open_status os ON survey.open_status_no = os.open_status_no
                       LEFT JOIN survey_attend ON survey.survey_no = survey_attend.survey_no
              WHERE survey_post_at >= DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY)
                AND is_deleted = 0
                AND survey_status.survey_status_no = 2
                and survey_attend_no IS NOT NULL


              GROUP BY survey_status.survey_status_no, user.user_no, survey.survey_closing_at,
                       os.open_status_no, survey.survey_no, survey_attend.survey_no
              ORDER BY attend_count DESC, survey_post_at DESC LIMIT 10) a
                 LEFT JOIN survey_attend ON a.survey_no = survey_attend.survey_no
                 LEFT JOIN survey_tag ON a.survey_no = survey_tag.survey_no
                 LEFT JOIN tag ON survey_tag.tag_no = tag.tag_no
        GROUP BY survey_tag.survey_tag_no, a.survey_no, survey_attend.user_no,
                 survey_attend.survey_attend_no;
    </select>

    <select id="selectClosingSurvey" resultMap="surveyDetailInfoDto" parameterType="HashMap">
        SELECT *,
               survey_attend.user_no                              as attend_user_no,
               if(survey_attend.user_no = #{userNo}, false, true) as attend_check
        FROM (SELECT survey.survey_no,
                     survey_title,
                     survey_description,
                     survey_image,
                     survey_post_at,
                     survey_closing_at,
                     user.user_no,
                     user.user_nickname,
                     user.user_image,
                     survey_status.survey_status_name,
                     os.open_status_name,
                     count(survey_attend.survey_no) AS attend_count,
                     is_deleted
              FROM survey
                       LEFT JOIN survey_status ON survey.survey_status_no = survey_status.survey_status_no
                       LEFT JOIN user ON user.user_no = survey.user_no
                       LEFT JOIN open_status os ON survey.open_status_no = os.open_status_no
                       LEFT JOIN survey_attend ON survey.survey_no = survey_attend.survey_no
              WHERE is_deleted = 0
                AND survey_status.survey_status_no = 3

              GROUP BY survey_status.survey_status_no, user.user_no, survey.survey_closing_at,
                       os.open_status_no, survey.survey_no, survey_attend.survey_no
              ORDER BY survey_post_at DESC LIMIT 12
              OFFSET #{page}) a
                 LEFT JOIN survey_attend ON a.survey_no = survey_attend.survey_no
                 LEFT JOIN survey_tag ON a.survey_no = survey_tag.survey_no
                 LEFT JOIN tag ON survey_tag.tag_no = tag.tag_no
        GROUP BY survey_tag.survey_tag_no, a.survey_no, survey_attend.user_no,
                 survey_attend.survey_attend_no;
    </select>

    <select id="selectPostSurvey" resultMap="surveyDetailInfoDto" parameterType="HashMap">
        SELECT *,
               survey_attend.user_no                              as attend_user_no,
               if(survey_attend.user_no = #{userNo}, false, true) as attend_check
        FROM (SELECT survey.survey_no,
                     survey_title,
                     survey_description,
                     survey_image,
                     survey_post_at,
                     survey_closing_at,
                     user.user_no,
                     user.user_nickname,
                     user.user_image,
                     survey_status.survey_status_name,
                     os.open_status_name,
                     count(survey_attend.survey_no) AS attend_count,
                     is_deleted
              FROM survey
                       LEFT JOIN survey_status ON survey.survey_status_no = survey_status.survey_status_no
                       LEFT JOIN user ON user.user_no = survey.user_no
                       LEFT JOIN open_status os ON survey.open_status_no = os.open_status_no
                       LEFT JOIN survey_attend ON survey.survey_no = survey_attend.survey_no
              WHERE is_deleted = 0
                AND survey_status.survey_status_no = 2

              GROUP BY survey_status.survey_status_no, user.user_no, survey.survey_closing_at,
                       os.open_status_no, survey.survey_no, survey_attend.survey_no
              ORDER BY survey_post_at DESC LIMIT 12
              OFFSET #{page}) a
                 LEFT JOIN survey_attend ON a.survey_no = survey_attend.survey_no
                 LEFT JOIN survey_tag ON a.survey_no = survey_tag.survey_no
                 LEFT JOIN tag ON survey_tag.tag_no = tag.tag_no
        GROUP BY survey_tag.survey_tag_no, a.survey_no, survey_attend.user_no,
                 survey_attend.survey_attend_no;
    </select>

    <select id="searchSurvey" resultMap="surveyDetailInfoDto" parameterType="HashMap">
        SELECT *,
               survey_attend.user_no                              as attend_user_no,
               IF(survey_attend.user_no = #{userNo}, false, true) as attend_check
        FROM (SELECT survey.survey_no,
                     survey_title,
                     survey_description,
                     survey_image,
                     survey_post_at,
                     survey_closing_at,
                     user.user_no,
                     user.user_nickname,
                     user.user_image,
                     survey_status.survey_status_name,
                     os.open_status_name,
                     COUNT(survey_attend.survey_no) AS attend_count,
                     is_deleted
              FROM survey
                       LEFT JOIN survey_status ON survey.survey_status_no = survey_status.survey_status_no
                       LEFT JOIN user ON user.user_no = survey.user_no
                       LEFT JOIN open_status os ON survey.open_status_no = os.open_status_no
                       LEFT JOIN survey_attend ON survey.survey_no = survey_attend.survey_no
              WHERE is_deleted = 0
                AND survey_status.survey_status_no != 1
              GROUP BY survey_status.survey_status_no, user.user_no, survey.survey_closing_at,
                  os.open_status_no, survey.survey_no
              ORDER BY survey_post_at DESC) a
                 LEFT JOIN survey_attend ON a.survey_no = survey_attend.survey_no
                 LEFT JOIN survey_tag ON a.survey_no = survey_tag.survey_no
                 LEFT JOIN tag ON survey_tag.tag_no = tag.tag_no
        WHERE tag.tag_name LIKE CONCAT('%', #{searchWord}, '%')
           OR survey_title LIKE CONCAT('%', #{searchWord}, '%')
        GROUP BY a.survey_no, survey_attend.survey_attend_no;
    </select>

    <select id="selectOneSurveyBySurveyNo" resultMap="surveyDetailInfoDto" parameterType="long">
        SELECT *,
               survey_attend.user_no                              as attend_user_no,
               if(survey_attend.user_no = #{userNo}, false, true) as attend_check
        FROM (SELECT survey.survey_no,
                     survey_title,
                     survey_description,
                     survey_image,
                     survey_post_at,
                     survey_closing_at,
                     user.user_no,
                     user.user_nickname,
                     user.user_image,
                     survey_status.survey_status_name,
                     os.open_status_name,
                     count(survey_attend.survey_no) AS attend_count,
                     is_deleted
              FROM survey
                       LEFT JOIN survey_status
                                 ON survey.survey_status_no = survey_status.survey_status_no
                       LEFT JOIN user
                                 ON user.user_no = survey.user_no
                       LEFT JOIN open_status os
                                 ON survey.open_status_no = os.open_status_no
                       LEFT JOIN survey_attend
                                 ON survey.survey_no = survey_attend.survey_no
              WHERE is_deleted = 0
                AND survey.survey_no = #{surveyNo}
                AND survey.survey_status_no != 1
              GROUP BY
                  survey_status.survey_status_no,
                  user.user_no, survey.survey_closing_at,
                  os.open_status_no,
                  survey.survey_no,
                  survey_attend.survey_no) a
                 LEFT JOIN survey_attend ON a.survey_no = survey_attend.survey_no
                 LEFT JOIN survey_tag ON a.survey_no = survey_tag.survey_no
                 LEFT JOIN tag ON survey_tag.tag_no = tag.tag_no
        GROUP BY survey_tag.survey_tag_no, a.survey_no, survey_attend.user_no,
                 survey_attend.survey_attend_no;
    </select>

</mapper>