<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzone.surveymanagement.statistics.mapper.SelectMapper">
    <resultMap id="SelectDto" type="com.douzone.surveymanagement.statistics.dto.SelectDto">
        <result property="surveyNo" column="survey_no"/>
        <result property="userNickname" column="user_nickname"/>
        <result property="surveyTitle" column="survey_title"/>
        <result property="surveyWriter" column="survey_writer"/>
        <result property="surveyPostAt" column="survey_post_at"/>
        <result property="openStatusNo" column="open_status_no"/>
        <result property="surveyClosingAt" column="survey_closing_at"/>
        <result property="surveyQuestionTitle" column="survey_question_title"/>
        <result property="surveyQuestionNo" column="survey_question_no"/>
        <result property="questionTypeNo" column="question_type_no"/>
        <result property="selectionNo" column="selection_no"/>
        <result property="selectionValue" column="selection_value"/>
        <result property="selectionCount" column="selection_count"/>
        <result property="totalAttend" column="total_attend"/>
        <result property="questionAttendCount" column="question_attend_count"/>
        <result property="surveySubjectiveAnswer" column="survey_subjective_answer"/>
        <result property="surveySubjectiveAnswerCount" column="survey_subjective_answer_count"/>
    </resultMap>

    <select id="readSelectionAll" resultMap="SelectDto" parameterType="long">
        SELECT u.user_nickname,
               wt.user_nickname                AS survey_writer,
               s.survey_no,
               s.open_status_no,
               s.survey_title,
               s.survey_post_at,
               s.survey_closing_at,
               MAX(sa.survey_attend_no)           OVER (PARTITION BY s.survey_no) AS total_attend, sq.survey_question_no,
               sq.survey_question_title,
               qt.question_type_no,
               se.selection_no,
               COUNT(se.selection_no)          AS selection_count,
               COUNT(survey_subjective_answer) AS survey_subjective_answer_count,
               se.selection_value,
               CASE
                   WHEN saa.survey_question_no = sq.survey_question_no THEN saa.survey_subjective_answer
                   ELSE NULL
                   END                         AS survey_subjective_answer
        FROM user AS u
                 JOIN survey_attend AS sa ON u.user_no = sa.user_no
                 JOIN survey AS s ON sa.survey_no = s.survey_no
                 LEFT JOIN user AS wt ON wt.user_no = s.user_no
                 LEFT JOIN survey_question AS sq ON s.survey_no = sq.survey_no
                 LEFT JOIN survey_answer AS saa ON sa.survey_attend_no = saa.survey_attend_no
                 LEFT JOIN survey_answer_selection AS sas ON saa.survey_answer_no = sas.survey_answer_no
                 LEFT JOIN selection AS se
                           ON se.survey_question_no = sq.survey_question_no AND sas.selection_no = se.selection_no
                 LEFT JOIN question_type AS qt ON sq.question_type_no = qt.question_type_no
        WHERE s.survey_no = #{surveyNo}
          AND (
                (qt.question_type_no IN (4, 5) AND saa.survey_question_no = sq.survey_question_no AND
                 survey_subjective_answer IS NOT NULL)
                OR se.selection_no IS NOT NULL
            )
        GROUP BY u.user_nickname,
                 s.survey_no,
                 survey_writer,
                 s.survey_title,
                 s.survey_post_at,
                 s.survey_closing_at,
                 sq.survey_question_no,
                 sq.survey_question_title,
                 qt.question_type_no,
                 se.selection_no,
                 survey_subjective_answer,
                 se.selection_value,
                 sa.survey_attend_no,
                 saa.survey_question_no;
    </select>

</mapper>