<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzone.surveymanagement.surveyquestion.mapper.SurveyQuestionMapper">

    <insert
            id="insertSurveyQuestion"
            parameterType="com.douzone.surveymanagement.surveyquestion.dto.request.SurveyQuestionCreateDto">

        INSERT INTO survey_question
        (
        `survey_no`,
        `question_type_no`,
        `survey_question_title`,
        `survey_question_description`,
        `is_required`
        )
        VALUES
        (
        #{surveyNo},
        #{questionTypeNo},
        #{surveyQuestionTitle},
        #{surveyQuestionDescription},
        #{isRequired}
        )

        <selectKey resultType="long" keyColumn="survey_question_no" keyProperty="surveyQuestionNo" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>

    </insert>

    <delete id="deleteAllSurveyQuestionsBySurveyNo" parameterType="long">
        DELETE
        FROM survey_question
        WHERE survey_no = #{surveyNo};
    </delete>

</mapper>
