<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzone.surveymanagement.surveyattend.mapper.SurveyAttendMapper">

    <resultMap id="surveyAttendDataResultMap"
               type="com.douzone.surveymanagement.surveyattend.dto.request.SurveyAttendDTO">
        <result property="surveyTitle" column="survey_title"/>
        <result property="surveyImage" column="survey_image"/>
        <result property="surveyQuestionNo" column="survey_question_no"/>
        <result property="surveyNo" column="survey_no"/>
        <result property="questionTypeNo" column="question_type_no"/>
        <result property="surveyQuestionTitle" column="survey_question_title"/>
        <result property="surveyQuestionDescription" column="survey_question_description"/>
        <result property="isRequired" column="is_required"/>
        <result property="selectionNo" column="selection_no"/>
        <result property="surveyQuestionMoveNo" column="survey_question_move_no"/>
        <result property="selectionValue" column="selection_value"/>
        <result property="isMovable" column="is_movable"/>
        <result property="isEndOfSurvey" column="is_end_of_survey"/>
    </resultMap>

    <select id="selectSurveyAttendData" resultMap="surveyAttendDataResultMap" parameterType="long">
        SELECT s.survey_title,
               s.survey_image,
               sq.survey_question_no,
               s.survey_no,
               sq.question_type_no,
               sq.survey_question_title,
               sq.survey_question_description,
               sq.is_required,
               se.selection_no,
               se.survey_question_move_no,
               se.selection_value,
               se.is_movable,
               se.is_end_of_survey
        FROM survey s
                 JOIN survey_question sq
                      ON s.survey_no = sq.survey_no
                 LEFT JOIN question_type qt
                           ON sq.question_type_no = qt.question_type_no
                 LEFT JOIN (SELECT selection_no,
                                   survey_question_no,
                                   survey_question_move_no,
                                   selection_value,
                                   is_movable,
                                   is_end_of_survey
                            FROM selection) se
                           ON sq.survey_question_no = se.survey_question_no
        WHERE s.survey_no = #{surveyNo}
        ORDER BY sq.survey_question_no ASC, se.selection_no ASC
    </select>

    <!-- 설문 참여 저장 -->
    <insert id="insertSurveyAttend"
            parameterType="com.douzone.surveymanagement.surveyattend.dto.request.SurveyAttendSubmitDTO"
            useGeneratedKeys="true" keyProperty="surveyAttendNo">
        INSERT INTO survey_attend (user_no, survey_no)
        VALUES (#{userNo}, #{surveyNo})
    </insert>

    <!-- 객관식 답변 저장 -->
    <insert id="insertObjectiveAnswer"
            parameterType="com.douzone.surveymanagement.surveyattend.dto.request.SurveyAttendSubmitDTO"
            useGeneratedKeys="true" keyProperty="surveyAnswerNo">
        INSERT INTO survey_answer (survey_attend_no, survey_question_no)
        VALUES (#{surveyAttendNo}, #{surveyQuestionNo})
    </insert>

    <!-- 주관식 답변 저장 -->
    <insert id="insertSurveySubjectiveAnswer"
            parameterType="com.douzone.surveymanagement.surveyattend.dto.request.SurveyAttendSubmitDTO"
            useGeneratedKeys="true" keyProperty="surveyAnswerNo">
        INSERT INTO survey_answer (survey_attend_no, survey_question_no, survey_subjective_answer)
        VALUES (#{surveyAttendNo}, #{surveyQuestionNo}, #{surveySubjectiveAnswer})
    </insert>

    <!-- 객관식 답변 선택지 저장 -->
    <insert id="insertSurveyAnswerSelection"
            parameterType="com.douzone.surveymanagement.surveyattend.dto.request.SurveyAttendSubmitDTO">
        INSERT INTO survey_answer_selection (survey_answer_no, selection_no)
        VALUES (#{surveyAnswerNo}, #{selectionNo})
    </insert>

    <!-- 설문의 마감일 들고옴 -->
    <select id="surveyForbidSubmit"
            parameterType="com.douzone.surveymanagement.surveyattend.dto.request.SurveyAttendClosingDTO"
            resultType="java.time.LocalDateTime">
        SELECT survey_closing_at
        FROM survey
        WHERE survey_no = #{surveyNo}
    </select>

</mapper>
