<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzone.surveymanagement.user.mapper.UserMapper">
    <select id="selectAllByUserEmail" >
        SELECT *
        FROM user
        WHERE user_email = #{userEmail}
    </select>

    <select id="findUserByUserAccessToken" parameterType="String" resultType="com.douzone.surveymanagement.user.dto.UserInfo">
        SELECT *
        FROM user
        WHERE access_token = #{accessToken}
    </select>

    <select id="findUserByAccessTokenAndUserNo" resultType="com.douzone.surveymanagement.user.dto.UserInfo">
        SELECT *
        FROM user
        WHERE access_token = #{accessToken} and user_no = #{userNo}
    </select>

    <insert id="beforeRegistUser" >
        INSERT
        INTO user(user_email,access_token, refresh_token, expires_in)
        VALUES (#{userEmail},#{accessToken}, #{refreshToken}, #{expiresIn})
    </insert>

    <update id="registUser">
        UPDATE user
        SET user_nickname = #{userNickname}, user_gender =#{userGender}, user_birth=#{userBirth}, user_image=#{userImage}
        WHERE user_no = #{userNo}
    </update>

    <update id="updateAccessToken">
        UPDATE user
        SET access_token=#{accessToken}, refresh_token=#{refreshToken}, expires_in=#{expiresIn}
        WHERE user_no = #{userNo};
    </update>

    <update id="deleteAccessToken">
        UPDATE user
        SET access_token  = null,
            refresh_token = null
        WHERE user_no = #{userNo};
    </update>

    <delete id="loginCancel">
        DELETE FROM user WHERE user_no = #{userNo}
    </delete>
</mapper>